<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>{% block title %}Список сооружений{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'font/iconsmind-s/css/iconsminds.css' %}"/>
    <link rel="stylesheet" href="{% static 'font/simple-line-icons/css/simple-line-icons.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-float-label.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.rtl.only.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/fullcalendar.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/datatables.responsive.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/perfect-scrollbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-stars.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/nouislider.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-datepicker3.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/component-custom-switch.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/smart_wizard.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/highlight.min.css' %}"/>

</head>

    <body id="app-container" class="menu-default show-spinner" style="padding-bottom: 0">
    <nav class="navbar fixed-top">
        <div class="d-flex align-items-center navbar-left">
              <a href="/"  class="site_title" style="padding-left: 15px;">
                  <img src="{% static 'img/md/dark/star-outline.svg' %}" style="height: 35px;" title="На главную" >
              </a>
            <a href="javascript:history.back()"  class="site_title " style="padding-left: 35px;">
                  <img src="{% static 'img/md/dark/chevron-left.svg' %}" title="Назад" style="height: 35px;">
              </a>
              <a href="#" class="menu-button d-none d-md-block" style="width: 100px;">
                <svg class="main" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 17">
                    <rect x="0.48" y="0.5" width="7" height="1"/>
                    <rect x="0.48" y="7.5" width="7" height="1"/>
                    <rect x="0.48" y="15.5" width="7" height="1"/>
                </svg>
                <svg class="sub" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 17">
                    <rect x="1.56" y="0.5" width="16" height="1"/>
                    <rect x="1.56" y="7.5" width="16" height="1"/>
                    <rect x="1.56" y="15.5" width="16" height="1"/>
                </svg>
            </a>
            <a href="#" class="menu-button-mobile d-xs-block d-sm-block d-md-none">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
                    <rect x="0.5" y="0.5" width="25" height="1"/>
                    <rect x="0.5" y="7.5" width="25" height="1"/>
                    <rect x="0.5" y="15.5" width="25" height="1"/>
                </svg>
            </a>




</div>



        <div class="navbar-right">
<!--
            <div class="user d-inline-block" style="margin-right: 10px;">
                <div class="btn-group">
                    <button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">EXPORT
                    </button>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px;
                    left: 0px; transform: translate3d(0px, 43px, 0px);">
                        <a class="dropdown-item" id="dataTablesCopy" href="#">Copy</a>
                        <a class="dropdown-item" id="dataTablesExcel" href="#">Excel</a>
                        <a class="dropdown-item" id="dataTablesCsv" href="#">Csv</a>
                        <a class="dropdown-item" id="dataTablesPdf" href="#">Pdf</a>
                    </div>
                </div>
            </div>-->



             <div class="user d-inline-block" style="margin-right: 10px;">
                <button class="btn btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="margin-left: 11px;">Режимы работы

                </button>
            <span style="border-left:3px solid gray; padding-left:11px;"></span>
                <div class="dropdown-menu dropdown-menu-right mt-3">
                    <a class="dropdown-item" href="#">Межпусковой</a >
                    <a class="dropdown-item" href="#">Предпусковой</a>
                    <a class="dropdown-item" href="#">Пусковой</a>
                </div>

            </div>


            <div class="header-icons d-inline-block align-middle" style="margin-top: 2px;">
{#                <button type="button" class="btn btn-outline-primary" data-toggle="modal"#}
{#                                data-backdrop="static" data-target="#exampleModalRight">Интерфейс датчика</button>#}
 <!--               <div class="d-none d-md-inline-block align-text-bottom mr-3">
                    <div class="custom-switch custom-switch-primary-inverse custom-switch-small pl-1"
                         data-toggle="tooltip" data-placement="left" title="Темный режим">
                        <input class="custom-switch-input" id="switchDark" type="checkbox" checked>
                        <label class="custom-switch-btn" for="switchDark"></label>
                    </div>
                </div>
-->


                 <div class="position-relative d-none d-sm-inline-block">

                    <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="simple-icon-grid"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" style="height: auto" id="iconMenuDropdown">
                        <a href="/admin" class="icon-menu-item">
                            <i class="iconsminds-equalizer d-block"></i>
                            <span>Настройки</span>
                        </a>

                        <a href="/admin/auth/user" class="icon-menu-item">
                            <i class="iconsminds-male-female d-block"></i>
                            <span>Пользователи</span>
                        </a>

                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-puzzle d-block"></i>
                            <span>Ссылка_1</span>
                        </a>

                        <a href="#" class="icon-menu-item">
                            <i class="iconsminds-bar-chart-4 d-block"></i>
                            <span>Ссылка_2</span>
                        </a>
                    </div>
                </div>
            <div class="position-relative d-inline-block">
                    <button class="header-icon btn btn-empty" type="button" id="notificationButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="simple-icon-bell"></i>
                        <span class="count">3</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right mt-3 position-absolute" id="notificationDropdown">
                        <div class="scroll">
                            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                  <div class="pl-3">
                                    <a href="#">
                                        <p class="font-weight-medium mb-1">События 1!</p>
                                        <p class="text-muted mb-0 text-small">09.04.2021 - 12:45</p>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-3 pb-3 border-bottom">
                                    <div class="pl-3">
                                    <a href="#">
                                        <p class="font-weight-medium mb-1">События 2!</p>
                                        <p class="text-muted mb-0 text-small">09.04.2021 - 12:45</p>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex flex-row mb-3 pb-3 border-bottom">

                                <div class="pl-3">
                                    <a href="#">
                                        <p class="font-weight-medium mb-1">События 3</p>
                                        <p class="text-muted mb-0 text-small">09.04.2021 - 12:45</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
                    <i class="simple-icon-size-fullscreen"></i>
                    <i class="simple-icon-size-actual"></i>
                </button>

            </div>

            <div class="user d-inline-block" style="margin-right: 10px;">

                <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="margin-left: 11px;">
                    <span style="border-left:3px solid gray; padding-left:30px;"></span>

                    <span class="name" style="color:black">Андрей Петров</span>
                    <span>
                        <img alt="Profile Picture" src="{% static 'img/unnamed.jpeg' %}" />
                    </span>
                </button>

                <div class="dropdown-menu dropdown-menu-right mt-3">
                    <a class="dropdown-item" href="/admin">Панель администратора</a >
                    <a class="dropdown-item" href="/accounts/logout">Выход</a>
                </div>
            </div>

        </div>



    </nav>

        {% block content %}



    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li class="active">
                        <a href="#dashboard">
                            <i class="iconsminds-shop-4"></i>
                            <span>Сооружения</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="sub-menu">
            <div class="scroll">
                <ul class="list-unstyled" data-link="dashboard">
                    {% for i in house %}
                    <li>
                        <a href="{% url 'schema' pk=i.id %}">
                            <i class="simple-icon-doc"></i> <span class="d-inline-block">{{ i.name }}</span>
                        </a>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
    <main>
            <div class="container-fluid disable-text-selection">
                <div class="row">
                    <div class="col-12">

                        <div class="mb-3">
                            <h1>Сооружения</h1>

                        </div>


                        <div class="separator mb-5"></div>
                    </div>
                </div>

                <div class="row list disable-text-selection" data-check-all="checkAll">
                    {% for i in house %}
                        <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4">
                            <div class="card">
                                <div class="position-relative">
                                    <a href="{% url 'schema' pk=i.id %}"><img class="card-img-top"
                                                                                              src="{% static i.img.url %}"
                                                                                              alt="Card image cap"></a>
                                    {% if i.new %}<span class="badge badge-pill badge-theme-1 position-absolute badge-top-left">NEW</span>{% endif %}
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">
                                            <a href="{% url 'schema' pk=i.id %}">
                                                <p class="list-item-heading mb-4 pt-1">{{ i.name }}</p>
                                            </a>
                                            <footer>
                                                <p class="text-muted text-small mb-0 font-weight-light">04.12.2021</p>
                                            </footer>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
    </main>

    <footer class="page-footer">
        <div class="footer-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <p class="mb-0 text-muted">Санкт-Петербург 2022 г.</p>
                    </div>
{#                    <div class="col-sm-6 d-none d-sm-block">#}
{#                        <ul class="breadcrumb pt-0 pr-0 float-right">#}
{#                            <li class="breadcrumb-item mb-0">#}
{#                                <a href="#" class="btn-link">Review</a>#}
{#                            </li>#}
{#                            <li class="breadcrumb-item mb-0">#}
{#                                <a href="#" class="btn-link">Purchase</a>#}
{#                            </li>#}
{#                            <li class="breadcrumb-item mb-0">#}
{#                                <a href="#" class="btn-link">Docs</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/chartjs-plugin-datalabels.js' %}"></script>
<script src="{% static 'js/vendor/moment.min.js' %}"></script>
<script src="{% static 'js/vendor/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/vendor/progressbar.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.barrating.min.js' %}"></script>
<script src="{% static 'js/vendor/nouislider.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/vendor/Sortable.js' %}"></script>
<script src="{% static 'js/vendor/mousetrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.smartWizard.min.js' %}"></script>
<script src="{% static 'js/dore.script.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/highlight.min.js' %}"></script>
{% block script %} {% endblock %}
</body>

</html>