<!DOCTYPE html>
{% load static %}

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="{% static 'font/iconsmind-s/css/iconsminds.css' %}"/>
    <link rel="stylesheet" href="{% static 'font/simple-line-icons/css/simple-line-icons.css' %}"/>

    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap-float-label.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.rtl.only.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>

</head>

<body class="background show-spinner no-footer">
<div class="fixed-background"></div>
<main>
    <div class="container">
        <div class="row h-100">
            <div class="col-12 col-md-10 mx-auto my-auto">
                <div class="card auth-card">
                    <div class="position-relative image-side ">

                        <p class=" text-white h2">АВТОРИЗАЦИЯ</p>

                        <p class="white mb-0">
                            Введите свой логин и пароль.
                            <br>В случае проблем обратитесь
                            <a href="#" class="white">к системному администратору</a>.
                        </p>
                    </div>
                    <div class="form-side">
{#                        <a href="Dashboard.Default.html">#}
{#                            <span class="logo-single"></span>#}
{#                        </a>#}
                        <h6 class="mb-4">Авторизация</h6>
                        <form >
                            {% csrf_token %}
                            <label class="form-group has-float-label mb-4">
                                <input class="form-control" name="username"/>
                                <span>Логин</span>
                            </label>

                            <label class="form-group has-float-label mb-4">
                                <input class="form-control" name="password" type="password" placeholder=""/>
                                <span>Пароль</span>
                            </label>
                            <div class="d-flex justify-content-between align-items-center">
{#                                <a href="#">Forget password?</a>#}
                                <button class="btn btn-primary btn-lg btn-shadow" type="button">ВОЙТИ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/dore.script.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script>
    jQuery(function () {
        $('button').click(function () {
            var data = {csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        username: $('input[name="username"]').val(),
                        password: $('input[name="password"]').val()
            }
            $.ajax({
                url: '',
                method: 'POST',
                data: data,
                success: function (data) {
                    document.location.href = document.location.origin;
                },
                error: function (error) {
                    console.log(error.responseJSON.detail)
                }
            })
        })
    })
</script>

</html>