﻿<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>
      {% load static %}

 <!-- Bootstrap core CSS -->
      <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
      <link rel="stylesheet" href="{% static 'font/iconsmind-s/css/iconsminds.css' %}"/>
      <link rel="stylesheet" href="{% static 'font/simple-line-icons/css/simple-line-icons.css' %}"/>
    <!-- Custom styles for this template -->
      {% block css %}
      {% endblock %}
    <style>
    .main_container .top_nav {
        display: block;
        margin-left: inherit;
    }
    </style>
  </head>

    <body style="background: #f7f7f7">
    <div class="container body">
      <div class="main_container">
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav role="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li class="">
               <!--   <span> <img src="ic '.svg' %}" style="float: left; margin-right: -7px;  height: 30px; margin-top: 10px;margin-left: 15px;">
                -->  </span>
                 </li>
                <li class="">
                    <span style="float: left; color:#000000; margin-right: -7px;  height: 30px; font-size: 16px;margin-top: 17px;margin-left: 15px;"> </span>
                 </li>
            </ul>
            </nav>
          </div>
        </div>
            <div class="centered" role="main" >
              <div class="col-md-12 col-sm-12 col-xs-12">
              <div style="padding: 1px 45px;text-align: center;">
                   {% for message in messages %}
                  <div class="alert alert-{{message.tags}} alert-dismissible fade in" role="alert" style="color: white; font-size: 20px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">×</span>
                    </button>
             {{ message }}
                  </div>
                  {% endfor %}
              </div>
                   <div style="padding: 1px 45px;text-align: center;">
                    <div class="alert alert-info alert-dismissible fade in" role="alert" style="color: white; font-size: 20px;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ><span aria-hidden="true">×</span>
                    </button>
             Для авторизации в приложении нажмите на кнопку "Авторизация"
                </div>
                <br><br>
                <a class="btn btn-success btn-lg" href="/" >Авторизация</a>
            </div><!-- /.col-lg-12 -->
              </div>
            </div></div>
      </div>
    </div>
    <!-- Scroll to Top Button-->
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/chartjs-plugin-datalabels.js' %}"></script>
<script src="{% static 'js/vendor/moment.min.js' %}"></script>
<script src="{% static 'js/vendor/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/vendor/datatables.min.js' %}"></script>
<script src="{% static 'js/vendor/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'js/vendor/progressbar.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.barrating.min.js' %}"></script>
<script src="{% static 'js/vendor/nouislider.min.js' %}"></script>
<script src="{% static 'js/vendor/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/vendor/Sortable.js' %}"></script>
<script src="{% static 'js/vendor/mousetrap.min.js' %}"></script>
<script src="{% static 'js/vendor/jquery.smartWizard.min.js' %}"></script>
<script src="{% static 'js/dore.script.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/highlight.min.js' %}"></script>


   {% block scripts %}
    {% endblock %}
  </body>

</html>
