{% extends 'index.html' %}
{% load static %}

<title>{% block title %}Сооружение{% endblock %}</title>

{% block content %}

    {% csrf_token %}
    <style>
        .redboll {
            position: absolute;
            left: 0;
            right: 0;
            width: 40px;
            height: 40px;
            transition: linear 0.25s;
        }

        .redboll:hover {
            width: 50px;
            height: 50px;
        }

        #floor {
            position: absolute;
            z-index: 100;
            top: 50%;
            left: 20px;
            display: flex;
            width: 30px;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }

        #schema {
            width: 83%;
            height: 100%;
            margin-top: 60px;
            background: url({{ floor.0.schema.url }}) no-repeat;
            background-size: 100% 100%
        }

        #schema_2d {
            width: 83%;
            height: 100%;
            margin-top: 60px;
            background: url({{ floor.0.schema_2d.url }}) no-repeat;
            background-size: 100% 100%
        }

        .viewing {
            display: block;
            position: absolute;
            top: 10%;
            right: 5%;
        }

        #app-container.menu-sub-hidden main, #app-container.sub-hidden main {
            margin-left: 0;
        }

        .sensor-type {
            opacity: 0.5;
        }

        .sensor-type.activate {
            opacity: 1;
        }

    </style>




    <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    {% for i in floor %}
                        <li {% if i.floor == 1 %} class="but active" {% else %} class="but" {% endif %}
                                                  data-value="{{ i.floor }}">
                            <a href="#dashboard">
                                <i class="iconsminds-shop-4"></i>
                                <span>Этаж {{ i.floor }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="sub-menu">
            <div class="scroll">
                <ul class="list-unstyled" data-link="dashboard" id="layouts">

                    {#                    {% for room in floor.0.rooms.all %}#}
                    {#                        <li class="room" data-value="{{ room.id }}">#}
                    {#                            <a href="#">#}
                    {#                                <i class="simple-icon-grid"></i> <span class="d-inline-block">{{ room.name }}</span>#}
                    {#                            </a>#}
                    {#                        </li>#}
                    {#                    {% endfor %}#}
                </ul>
            </div>
        </div>
    </div>
    <main style="margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;">
        <div class="modal fade" id="addSensor" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Добавление датчика</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputState">Выберите помещение для датчика</label>
                            <select id="rooms" name="rooms" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" style="margin-right: 15px; margin-left: 15px">
                        <label for="name" class="col-sm-4 col-form-label">Название датчика</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="name"
                                   placeholder="Датчик 1">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-right: 15px; margin-left: 15px">
                        <label for="name" class="col-sm-4 col-form-label">Тип датчика: </label>
                        <img class="sensor-type activate" src="{% static 'sensors/3.png' %}"
                             style="width: 30px; height: 30px; margin-right: 10px">
                        <img class="sensor-type" src="{% static 'sensors/2.png' %}"
                             style="width: 30px; height: 30px; margin-right: 10px">
                        <img class="sensor-type" src="{% static 'sensors/1.png' %}"
                             style="width: 30px; height: 30px; margin-right: 10px">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <button type="button" id="save" class="btn btn-primary">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-right" id="exampleModalRight" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalRight" aria-hidden="true">
            <div class="modal-dialog" id="modal-dialog" role="document" style="transition: linear 1s">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Интерфейс датчика</h5>
                        <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button"
                                id="modalFull">
                            <i class="simple-icon-size-fullscreen" id="full_modal"></i>
                            <i class="simple-icon-size-actual" id="min_modal" style="display: none"></i>
                        </button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-12 mb-4">
                            {#                            <h5 class="mb-4">Clickable Anchors</h5>#}
                            <div class="card">
                                <div class="card-header">
                                    <ul class="nav nav-tabs card-header-tabs " role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first"
                                               role="tab"
                                               aria-controls="first" aria-selected="true">Информация</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="second-tab" data-toggle="tab" href="#second"
                                               role="tab"
                                               aria-controls="second" aria-selected="false">Данные</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="third-tab" data-toggle="tab" href="#third"
                                               role="tab"
                                               aria-controls="third" aria-selected="false">События</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="third-tab" data-toggle="tab" href="#four" role="tab"
                                               aria-controls="third" aria-selected="false">Параметры</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="first" role="tabpanel"
                                             aria-labelledby="first-tab">
                                            <h4 id="name-sensor" class="pb-2">Танзометр</h4>
                                            <div>
                                                {#                                                <div class="col-md-8 col-sm-12">#}
                                                <div class="card flex-row">
                                                    <div class="position-relative">
                                                        <img class="card-img-left"
                                                             id="img_sensor"
                                                             style="width: 150px; height: 150px"
                                                             src="{% static 'sensors/1.png' %}"
                                                             alt="Card image cap">
                                                        <span
                                                                class="badge badge-pill badge-theme-1 position-absolute badge-top-left">Внешний вид</span>
                                                    </div>
                                                    <div class="">
                                                        <div class="card-body">
                                                            <h6 class="2">UID: 2HA184</h6>
                                                            <h6 class="mb-2">Код изделия (по номенклатуре)</h6>
                                                            <footer>
                                                                <button type="button" id="delete_sensor"
                                                                        class="btn btn-danger mb-1">
                                                                    Удалить
                                                                </button>
                                                                {#                                                                                                                        <p class="text-muted text-small mb-0 font-weight-light">#}
                                                                {#                                                                                                                            09.04.2018#}
                                                                {#                                                                                                                        </p>#}
                                                            </footer>
                                                        </div>
                                                    </div>
                                                </div>
                                                {#                                                </div>#}
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="second" role="tabpanel"
                                             aria-labelledby="second-tab">
                                            <h4 class="pb-2">Данные</h4>
                                            <div>
                                                {#                                                <div class="col-md-6 col-sm-12 mb-4">#}
                                                <div class="card dashboard-filled-line-chart" style="height: auto">
                                                    <div class="card-body ">
                                                        <div class="float-left float-none-xs">
                                                            <div class="d-inline-block">
                                                                <h5 class="d-inline">Статистика датчика</h5>
                                                                <span class="text-muted text-small d-block">описание</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="height: auto">
                                                        <div id="chartsensors"></div>
                                                    </div>
                                                </div>
                                                {#                                                </div>#}

                                                {#                                                <div class="col-md-6 col-sm-12 mb-4">#}
                                                <div class="card dashboard-filled-line-chart" style="height: auto">
                                                    <div class="card-body ">
                                                        <div class="float-left float-none-xs">
                                                            <div class="d-inline-block">
                                                                <h5 class="d-inline">Статистика</h5>
                                                                <span class="text-muted text-small d-block">описание</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="height: auto">
                                                        <div id="chart_stat"></div>
                                                    </div>
                                                </div>
                                                <div class="card dashboard-filled-line-chart" style="height: auto">
                                                    <div class="card-body ">
                                                        <div class="float-left float-none-xs">
                                                            <div class="d-inline-block">
                                                                <h5 class="d-inline">Статистика 2</h5>
                                                                <span class="text-muted text-small d-block">описание</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div style="height: auto">
                                                        <div id="chart_stat2"></div>
                                                    </div>
                                                    <div class="card dashboard-filled-line-chart" style="height: auto">
                                                        <div class="card-body ">
                                                            <div class="float-left float-none-xs">
                                                                <div class="d-inline-block">
                                                                    <h5 class="d-inline">Статистика 3</h5>
                                                                    <span class="text-muted text-small d-block">описание</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div style="height: auto">
                                                            <div id="chart_stat3"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="third" role="tabpanel"
                                             aria-labelledby="second-tab">
                                            <h4 class="pb-2">События</h4>
                                            <div>
                                                <div class="row mb-4">
                                                    <div class="col-12">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <table class="data-table data-table-scrollable responsive nowrap"
                                                                       data-order="[[ 1, &quot;desc&quot; ]]">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Дата</th>
                                                                        <th>Событие</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <p class="list-item-heading">7.02.2022
                                                                                10:00</p>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-muted">Потеря СВ</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p class="list-item-heading">7.02.2022
                                                                                11:00</p>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-muted">Выход за
                                                                                пределы</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <p class="list-item-heading">7.02.2022
                                                                                11:01</p>
                                                                        </td>
                                                                        <td>
                                                                            <p class="text-muted">Выход за
                                                                                пределы</p>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="four" role="tabpanel"
                                             aria-labelledby="second-tab">
                                            <h4 class="pb-2">Параметры</h4>
                                            <div>
                                                <form>
                                                    <div class="form-group row">
                                                        <label for="inputEmail3" class="col-sm-2 col-form-label">Параметр
                                                            1</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="param_1"
                                                                   placeholder="edit">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Параметр
                                                            2</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="param_2"
                                                                   placeholder="Параметр 2">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Параметр
                                                            3</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="param_3"
                                                                   placeholder="Параметр 3">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Параметр
                                                            4</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="param_4"
                                                                   placeholder="Параметр 4">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Параметр
                                                            5</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="param_5"
                                                                   placeholder="Параметр 5">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Параметр
                                                            6</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="param_6"
                                                                   placeholder="Параметр 6">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputPassword3" class="col-sm-2 col-form-label">Параметр
                                                            7</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="param_7"
                                                                   placeholder="Параметр 7">
                                                        </div>
                                                    </div>


                                                    <div class="form-group row mb-0">
                                                        <div class="col-sm-10">
                                                            <button type="button" class="btn btn-outline-primary"
                                                                    data-dismiss="modal">Отмена
                                                            </button>
                                                            <button type="button" id="save_param"
                                                                    class="btn btn-primary mb-0">
                                                                Сохранить
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div style="display: flex; width: 100%; justify-content: flex-end">
        <div class="viewing">
            <div class="custom-switch custom-switch-primary-inverse custom-switch-small pl-1"
                 data-toggle="tooltip" data-placement="left" title="2d_3d">
                <input class="custom-switch-input" id="switch_2d_3d" type="checkbox">
                <label class="custom-switch-btn" for="switch_2d_3d"></label>
            </div>
        </div>
        <canvas id="schema"></canvas>
        <div id="schema_2d" style="display: none"></div>

        <div id="massboll">
            {% for p in point %}
                <img class="redboll" id="{{ p.id }}" src="{{ p.image }}"
                     style="left: {{ p.x }}px; top: {{ p.y }}px;">
            {% endfor %}

        </div>
    </div>




    {#  <script src="{% static '' %}js/jquery-1.12.4.min.js"></script>#}
    {#    <script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"></script>#}

{% endblock %}
{% block script %}
    <script src="{% static 'js/charts_sensors.js' %}"></script>
    {#    <script src="{% static 'js/highcharts.js' %}"></script>#}
    <script src="{% static 'js/highstock.js' %}"></script>
    <script>
        window.onload = function () {

            {#window.oncontextmenu = function () {#}
            {#    return false#}
            {# }#}

                var url_sensor = "static/sensors/1.png"
                var id_sensor = null
                var num_floor =
                {{ floor.0.floor }}
                var canvas = document.getElementById('schema')
                var ctx = canvas.getContext('2d')
                canvas.height = canvas.clientHeight
                canvas.width = canvas.clientWidth
                var clickRight = false
                var ind = null
                var lines = []
                var X = null
                var Y = null

                var PointData = null

                var myChart1 = null
                var myChart2 = null
                var myChart3 = null
                var myChart4 = null

                function drawChart1(data) {
                    if (myChart1 == null) {
                        myChart1 = Highcharts.stockChart('chartsensors', {
                            xAxis: {
                                gapGridLineWidth: 0
                            },

                            rangeSelector: {
                                buttons: [{
                                    type: 'hour',
                                    count: 1,
                                    text: '1h'
                                }, {
                                    type: 'day',
                                    count: 1,
                                    text: '1D'
                                }, {
                                    type: 'all',
                                    count: 1,
                                    text: 'All'
                                }],
                                selected: 1,
                                inputEnabled: false
                            },

                            series: [{
                                name: 'sensor1',
                                type: 'area',
                                data: data,
                                gapSize: 5,
                                tooltip: {
                                    valueDecimals: 2
                                },
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                threshold: null
                            }]
                        });
                    } else {
                        myChart1.update({series: [{data: data}]});
                    }
                }

                function drawChart2(data) {
                    if (myChart2 == null) {
                        myChart2 = Highcharts.stockChart('chart_stat', {
                            xAxis: {
                                gapGridLineWidth: 0
                            },

                            rangeSelector: {
                                buttons: [{
                                    type: 'hour',
                                    count: 1,
                                    text: '1h'
                                }, {
                                    type: 'day',
                                    count: 1,
                                    text: '1D'
                                }, {
                                    type: 'all',
                                    count: 1,
                                    text: 'All'
                                }],
                                selected: 1,
                                inputEnabled: false
                            },

                            series: [{
                                name: 'sensor1',
                                type: 'area',
                                data: data,
                                gapSize: 5,
                                tooltip: {
                                    valueDecimals: 2
                                },
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                threshold: null
                            }]
                        });
                    } else {
                        myChart2.update({series: [{data: data}]});
                    }
                }

                function drawChart3(data) {
                    if (myChart3 == null) {
                        myChart3 = Highcharts.stockChart('chart_stat2', {
                            xAxis: {
                                gapGridLineWidth: 0
                            },

                            rangeSelector: {
                                buttons: [{
                                    type: 'hour',
                                    count: 1,
                                    text: '1h'
                                }, {
                                    type: 'day',
                                    count: 1,
                                    text: '1D'
                                }, {
                                    type: 'all',
                                    count: 1,
                                    text: 'All'
                                }],
                                selected: 1,
                                inputEnabled: false
                            },

                            series: [{
                                name: 'sensor1',
                                type: 'area',
                                data: data,
                                gapSize: 5,
                                tooltip: {
                                    valueDecimals: 2
                                },
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                threshold: null
                            }]
                        });
                    } else {
                        myChart3.update({series: [{data: data}]});
                    }
                }

                function drawChart4(data) {
                    if (myChart4 == null) {
                        myChart4 = Highcharts.stockChart('chart_stat3', {
                            xAxis: {
                                gapGridLineWidth: 0
                            },

                            rangeSelector: {
                                buttons: [{
                                    type: 'hour',
                                    count: 1,
                                    text: '1h'
                                }, {
                                    type: 'day',
                                    count: 1,
                                    text: '1D'
                                }, {
                                    type: 'all',
                                    count: 1,
                                    text: 'All'
                                }],
                                selected: 1,
                                inputEnabled: false
                            },

                            series: [{
                                name: 'sensor1',
                                type: 'area',
                                data: data,
                                gapSize: 5,
                                tooltip: {
                                    valueDecimals: 2
                                },
                                fillColor: {
                                    linearGradient: {
                                        x1: 0,
                                        y1: 0,
                                        x2: 0,
                                        y2: 1
                                    },
                                    stops: [
                                        [0, Highcharts.getOptions().colors[0]],
                                        [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                    ]
                                },
                                threshold: null
                            }]
                        });
                    } else {
                        myChart4.update({series: [{data: data}]});
                    }
                }


                function get_data(id) {
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        id: id
                    }
                    $.ajax({
                        url: 'get_statistic',
                        method: "POST",
                        data: data,
                        success: function (data) {
                            console.log(data)
                            drawChart1(data.data1)
                            drawChart2(data.data2)
                            drawChart3(data.data3)
                            drawChart4(data.data4)
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                }


                function findLine([x, y]) {
                    var ind = null
                    var min_d = 10000
                    // ????????????????????????????????????
                    for (let i = 0; i < lines.length; i++) {
                        var B = lines[i][1][0] - lines[i][0][0]
                        var A = -1 * (lines[i][1][1] - lines[i][0][1])
                        var C = -1 * (lines[i][0][1] * B + lines[i][0][0] * A)
                        var A1 = B
                        var B1 = -1 * A
                        var C1 = -(A1 * lines[i][1][0] + B1 * lines[i][1][1])
                        var C2 = -(A1 * lines[i][0][0] + B1 * lines[i][0][1])
                        if (A1 * x + B1 * y + C1 > 0 && A1 * x + B1 * y + C2 < 0 || A1 * x + B1 * y + C1 < 0 && A1 * x + B1 * y + C2 > 0) {
                            var d = Math.abs(A * x + B * y + C) / Math.sqrt(A * A + B * B)
                        } else {
                            var d1 = Math.sqrt((x - lines[i][1][0]) ** 2 + (y - lines[i][1][1]) ** 2)
                            var d2 = Math.sqrt((x - lines[i][0][0]) ** 2 + (y - lines[i][0][1]) ** 2)
                            var d = Math.min(d1, d2)
                        }
                        if (d < min_d) {
                            min_d = d
                            ind = i
                        }
                    }

                    if (min_d < 10) {
                        return ind
                    }
                    return false
                }

                function getFullInfoSensor(id) {
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        id: id
                    }
                    $.ajax({
                        url: 'get_info_sensor',
                        method: 'POST',
                        data: data,
                        success: function (data) {
                            $('#delete_sensor').attr('data-value', data.id)
                            $('#name-sensor').text(data.name)
                            $('#img_sensor').attr('src', data.img)
                            $('#param_1').val(data.param1 == null ? "" : data.param1)
                            $('#param_2').val(data.param2 == null ? "" : data.param2)
                            $('#param_3').val(data.param3 == null ? "" : data.param3)
                            $('#param_4').val(data.param4 == null ? "" : data.param4)
                            $('#param_5').val(data.param5 == null ? "" : data.param5)
                            $('#param_6').val(data.param6 == null ? "" : data.param6)
                            $('#param_7').val(data.param7 == null ? "" : data.param7)
                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                }

                function getPointFromFloor() {
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        id_house: {{ pk }},
                        floor: num_floor
                    }
                    $.ajax({
                        url: 'select_floor',
                        method: "POST",
                        data: data,
                        success: function (data) {
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            $('.redboll').remove()
                            $('#schema').css('background', 'url(' + data.img + ') no-repeat').css('background-size', '100% 100%');
                            $('#schema_2d').css('background', 'url(' + data.img_2d + ') no-repeat').css('background-size', '100% 100%');
                            PointData = data.arr
                            drawFromdata(data.arr)
                        }
                    })
                }

                function removeLine(ind) {
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        id: PointData[ind].id,
                        id_house: {{ pk }},
                        floor: num_floor
                    }
                    $.ajax({
                        url: "remove_line",
                        method: "POST",
                        data: data,
                        success: function (data) {
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            $('.redboll').remove()
                            PointData = data.arr
                            drawFromdata(data.arr)
                        }
                    })
                }


                function calcOffset(pt, size) {
                    var width = Math.round(window.innerWidth * (100 - 83) / 100 - size);
                    var height = 60 - size // margin-to + height sensor / 2
                    return [pt[0] - width, pt[1] - height]
                }

                function reCalcOffset(pt, size) {
                    var width = Math.round(window.innerWidth * (100 - 83) / 100 - size);
                    var height = 60 - size // margin-to + height sensor / 2
                    return [pt[0] + width, pt[1] + height]
                }

                function findMinDistancePoint([x, y]) {
                    var minDist = 10000
                    var ind = -1
                    for (let i = 0; i < PointData.length; i++) {
                        var d = Math.sqrt((x - PointData[i].x) ** 2 + (y - PointData[i].y) ** 2)
                        if (d < minDist) {
                            minDist = d
                            ind = i
                        }
                    }
                    return ind
                }

                function listSensor(room, arr) {
                    var text = ``
                    arr.map(function (obj) {
                        if (obj.room == room) {
                            text += `
                            <li data-value="${obj.id}" class="sensor">
                                <a href="#">
                                    <img src="${obj.url}"
                                         style="width: 17px; height: 17px; margin-right: 10px">
                                    <span class="d-inline-block">${obj.name}</span>
                                </a>
                            </li>`
                        }

                    })
                    return text
                }

                function drawTree(arr) {
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        id_house: {{ pk }},
                        floor: num_floor
                    }
                    $.ajax({
                        url: "get_rooms",
                        method: "POST",
                        data: data,
                        success: function (data) {
                            var rooms = data.rooms
                            for (let i = 0; i < rooms.length; i++) {
                                $('#layouts').append(`<li class="li-room" >
                                <a href="#" data-toggle="collapse" data-target="#collapseAuthorization${rooms[i].id}" aria-expanded="true"
                                   aria-controls="collapseAuthorization${rooms[i].id}" class="rotate-arrow-icon opacity-50">
                                    <i class="simple-icon-arrow-down"></i> <span class="d-inline-block">${rooms[i].room}</span>
                                </a>
                                    <div id="collapseAuthorization${rooms[i].id}" class="collapse show">
                                        <ul class="list-unstyled inner-level-menu">
                                            ${listSensor(rooms[i].room, arr)}
                                        </ul>
                                    </div>
                                </li>`)
                            }
                        }
                    })

                }

                function drawCircle(pt) {
                    ctx.beginPath();
                    ctx.arc(pt[0], pt[1], 3, 0, 2 * Math.PI, false);
                    ctx.fill();
                    ctx.stroke()
                }


                function drawLine(a_from, a_to) {
                    ctx.beginPath()
                    ctx.lineWidth = 1
                    ctx.moveTo(a_from[0], a_from[1])
                    ctx.lineTo(a_to[0], a_to[1])
                    ctx.stroke()
                    drawCircle(a_to)
                    ctx.c
                }

                function drawFromdata(arr) {
                    $('.li-room').remove()
                    drawTree(arr)
                    if (!$('#switch_2d_3d').is(':checked')) {
                        lines = []
                        for (let i = 0; i < arr.length; i++) {
                            var img = $('<img class="redboll">');
                            img.attr('id', arr[i].id)//Equivalent: $(document.createElement('img'))
                            img.attr('src', arr[i].url);
                            img.css('left', arr[i].x).css('top', arr[i].y)
                            img.appendTo('#massboll');
                            if (arr[i].line_x != null && arr[i].line_y != null) {
                                lines.push([calcOffset([arr[i].x, arr[i].y], 20), calcOffset([arr[i].line_x, arr[i].line_y], 0)])
                                drawLine(calcOffset([arr[i].x, arr[i].y], 20), calcOffset([arr[i].line_x, arr[i].line_y], 0))
                            }
                        }
                    }
                }

                function getRoom() {
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        id_house: {{ pk }},
                        floor: num_floor
                    }
                    $.ajax({
                        url: "get_rooms",
                        method: "POST",
                        data: data,
                        success: function (data) {
                            $('.room').remove()
                            var rooms = data.rooms
                            for (let i = 0; i < rooms.length; i++) {
                                $('#rooms').append(`<option class="room" value="${rooms[i].id}">${rooms[i].room}</option>`)
                            }
                        }
                    })
                }

                $('canvas').mouseup(function (e) {
                    if (!clickRight) {
                        return false
                    }
                    {#var target = $('canvas').getBoundingClientRect();#}
                    var end_x = e.clientX
                    var end_y = e.clientY
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        id_house: {{ pk }},
                        floor: num_floor,
                        id: PointData[ind].id,
                        x: end_x,
                        y: end_y
                    }
                    $.ajax({
                        url: 'add_line',
                        method: 'POST',
                        data: data,
                        success: function (data) {
                            clickRight = false
                            ind = null
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            $('.redboll').remove()
                            PointData = data.arr
                            drawFromdata(data.arr)
                        }
                    })
                })


                $('.sensor-type').click(function () {
                    $('.sensor-type').removeClass('activate')
                    $(this).addClass('activate')
                    url_sensor = $(this).attr('src')
                })


                $('.but').click(function () {
                    num_floor = $(this).data('value')
                    $('.but').removeClass('active')
                    $(this).addClass('active')
                    getPointFromFloor()
                });

                $('canvas').click(function (e) {
                    if (e.target.className == "") {
                        var find = findLine(calcOffset([e.clientX, e.clientY], 0))
                        if (find !== false) {
                            removeLine(find)
                            return true
                        }
                        X = e.clientX
                        Y = e.clientY
                        $('#addSensor').modal()
                        getRoom()
                    }
                })


                $('canvas').mousedown(function (e) {
                    if (e.which == 1) {
                    } else if (e.which == 3) {
                        ind = findMinDistancePoint([e.clientX, e.clientY])
                        clickRight = true
                    }

                })
                $('body').on('click', '.redboll', function () {
                    $('#exampleModalRight').modal()
                    getFullInfoSensor($(this).attr('id'))
                    id_sensor = $(this).attr('id')
                    get_data($(this).attr('id'))
                })


                $('body').on('click', '.sensor', function () {
                    $('#exampleModalRight').modal()
                    getFullInfoSensor($(this).attr('data-value'))
                    id_sensor = $(this).attr('data-value')
                    get_data($(this).attr('data-value'))
                })


                $('#delete_sensor').click(function () {
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        id: $(this).attr('data-value'),
                        id_house: {{ pk }},
                        floor: num_floor
                    }
                    $.ajax({
                        url: 'remove',
                        method: 'POST',
                        data: data,
                        success: function (data) {
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            $('#exampleModalRight').modal('hide')
                            $('.redboll').remove()
                            PointData = data.arr
                            drawFromdata(data.arr)
                        }
                    })
                })
                $('#save').click(function () {
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        room: $('#rooms').val(),
                        id_house: {{ pk }},
                        floor: num_floor,
                        name: $('#name').val(),
                        x: Math.round(X),
                        y: Math.round(Y),
                        url: url_sensor
                    }
                    $.ajax({
                        url: 'save',
                        method: 'POST',
                        data: data,
                        success: function (data) {
                            url_sensor = "static/sensors/1.png"
                            $('#name').val("")
                            X = null
                            Y = null
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            $('#addSensor').modal('hide')
                            $('.redboll').remove()
                            PointData = data.arr
                            drawFromdata(data.arr)
                        }
                    })
                })
                $('#modalFull').click(function () {
                    if ($('#full_modal').is(':visible')) {
                        $('#modal-dialog').css('max-width', '75%')
                        $('#full_modal').hide()
                        $('#min_modal').show()
                    } else {
                        $('#modal-dialog').css('max-width', '50%')
                        $('#full_modal').show()
                        $('#min_modal').hide()
                    }
                })

                $('#save_param').click(function () {
                    var data = {
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        id: id_sensor,
                        param1: $('#param_1').val(),
                        param2: $('#param_2').val(),
                        param3: $('#param_3').val(),
                        param4: $('#param_4').val(),
                        param5: $('#param_5').val(),
                        param6: $('#param_6').val(),
                        param7: $('#param_7').val(),
                    }
                    $.ajax({
                        url: 'save_param',
                        method: "POST",
                        data: data,
                        success: function (data) {

                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                })

                $('#switch_2d_3d').change(function () {
                    console.log($(this).is(":checked"))
                    if ($(this).is(":checked")) {
                        $('#schema').hide()
                        $('.redboll').remove()
                        var h = $("#schema").height()
                        var w = $("#schema").width()
                        console.log(h, w)
                        $('#schema_2d').css('height', h).css('width', w)
                        $('#schema_2d').show()
                    } else {
                        $('#schema').show()
                        $('#schema_2d').hide()
                        getPointFromFloor()
                    }
                })

                getPointFromFloor()
            }
    </script>

{% endblock %}